.auth-content {
  height: 30rem;
  width: 20rem;
  font-family: "Avenir Next", Avenir, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, sans-serif;

  > .btn-close {
    background: #fff;
    border-radius: 100px;
    height: 0.5rem;
    width: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    color: #333;
    z-index: 100;
    border: 6px solid #fff;
    cursor: pointer;
    line-height: 0;
  }
}
